*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Local fonts */
@font-face {
  font-family: "Lovely Pretty";
  src: url("/fonts/Lovely-Pretty.ttf");
}
@font-face {
  font-family: "Shree Devenagari 714";
  src: url("/fonts/Shree-Devanagari-714.ttf");
}

/* Custom Properties */

:root {
  --ff-primary: "Shree Devenagari 714", sans-serif;
  --ff-secondary: "Lovely Pretty", cursive;

  --fw-reg: 400;
  --fw-bold: 800;

  --clr-light: #e9dbd3;
  --clr-normal: #c99c87;
  --clr-dark: #3a3a3a;
  --clr-accent: #96c1e8;
  --clr-white: #f3f3f3;
  --fs-h1: 4rem;
  --fs-btn: 2rem;
  --fs-body: 1rem;
  --fs-list: 2rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
}

@media (min-width: 40em) {
  :root {
    --fs-h1: 8rem;
    --fs-btn: 3rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em 1em;
}

.fa-brands {
  line-height: 2;
}
@media (min-width: 40em) {
  section {
    padding: 5em 4em;
  }
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.video-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: var(--bs);
}

.video {
  display: grid;
  justify-content: center;
  width: 100%;
}

/* :focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
} */

/* Typography */

.section_title {
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  display: flex;
  justify-content: center;
  line-height: 1;
  margin-top: 0;
}
.section_title::hover {
  color: var(--clr-accent);
}

.section_content {
  border-radius: 0.3em;
  margin-bottom: 1em;
  font-size: var(--fs-body);
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  background-image: url("/img/background.webp");
  background-size: cover;
  background-position: center;
}

.logos {
  display: flex;
  max-width: 140px;
}
.logo {
  max-width: 100px;
  max-height: 30px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-normal);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav_list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav_link {
  color: inherit;
  font-weight: bolder;
  font-size: var(--fs-list);
  text-decoration: none;
}

.nav_link:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  padding: 0.85em 1.2em;
  transition: 200ms ease-in-out;
  border-radius: 0.5em;
}

.nav-toggle {
  padding: 2em 4em 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

@media (min-width: 60em) {
  .nav-toggle {
    display: none;
  }
  .nav {
    position: relative;
    background: transparent;
    transform: none;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }

  .nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .nav_link {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    font-size: 1.3em;
    text-decoration: none;
  }

  .nav_link:hover {
    padding: 3em 0.25em 3.02em;
    border-radius: 0;
  }
}

/* READ MORE BUTTON */

.read_more_btn {
  display: inline-block;
  padding: 0.5em 0 0.5em;
  background: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: var(--fs-btn);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
.button {
  text-align: center;
}

.read_more_btn:hover {
  transform: scale(1.05);
  color: var(--clr-accent);
}

/*  Hero section  */

.hero {
  position: relative;
  overflow: hidden;
  min-height: 90vh;
  color: var(--clr-white);
  text-shadow: 0px 0px 2px var(--clr-dark);
}

.hero_content {
  margin: 2em 0;
  /* background: rgba(0, 0, 0, 0.4); */
  /* border-radius: 1em; */
  /* 'padding: 1em;' */
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list_item {
  margin: 0 0.2em;
}

.social-list_link {
  padding: 0.4em;
  color: var(--clr-white);
}

.hero .read_more_btn,
.hero .social-list_container {
  opacity: 0;
}

@media (min-width: 40em) {
  .hero {
    height: 100vh;
  }
  .hero_content {
    max-width: 1000px;
    margin-left: 60%;
    margin-top: 20%;
    margin-right: auto;
  }
  .social-list {
    justify-content: start;
    font-size: 1.5em;
  }

  .hero .button {
    text-align: left;
  }
}

.hero_video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

/*  About section  */

.about {
  position: relative;
  background: url("/img/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.about_img {
  box-shadow: var(--bs);
}
.about_description {
  padding-top: 1em;
}

.content_about {
  background: hsla(19, 38%, 66%, 0.6);
  padding: 0.25em 1em;
  font-family: var(--ff-primary);
  margin-bottom: 1em;
  opacity: 1;
  display: inline-block;
}
.content_about a {
  color: black;
}

@media (min-width: 60em) {
  .about_content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
  }

  .about_img,
  .content_about {
    grid-row: 1/2;
  }

  .about_img {
    grid-column: 1/3;
    min-width: 400px;
    position: relative;
    z-index: 2;
    margin-top: 1em;
  }

  .content_about {
    grid-column: 2/-1;
    align-self: center;
    position: relative;
    padding-left: 14em;
    padding-top: 14em;
    padding-bottom: 5em;
    margin-bottom: 0;
  }
  .about .button {
    text-align: right;
  }
}

/* Dance section */

.dance {
  position: relative;
  /* overflow: hidden;
  min-height: 60vh; */
  /* new style */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-dance {
  color: var(--clr-dark);
}
.title-dance:hover {
  color: #e3c177;
  scale: 1.05;
}

@media (min-width: 40em) {
  .dance {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .dance_content {
    width: 40%;
    padding-left: 2em;
  }
  .title-dance {
    margin-bottom: 0.5em;
  }
  .dance .video-container {
    margin: 0 auto;
    width: 100%;
  }
  .dance .button {
    text-align: right;
  }
}

/* Yoga section */
.yoga {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-yoga:hover {
  color: #81461e;
  scale: 1.05;
}
/* .yoga_description {
  max-width: 500px;
} */

@media (min-width: 60em) {
  .yoga {
    flex-direction: row;
    justify-content: space-between;
  }
  .yoga_content {
    width: 40%;
    padding-right: 2em;
  }
  .title-yoga {
    margin-bottom: 0.5em;
  }
  .yoga .video-container {
    margin: 0 auto;
    width: 100%;
  }
  .yoga .button {
    text-align: left;
  }
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer_link {
  font-weight: var(--fw-bold);
}

.footer_link:hover,
.social-list_link:hover {
  opacity: 0.3;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
